<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      </div>
      <div class="post-meta">
        <div class="date">
          <span class="posted-on">
            <i class="fas fa-calendar"></i>
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
              {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </time>
          </span>
          <span class="reading-time">
            <i class="fas fa-clock"></i>
            {{ i18n "reading_time" .ReadingTime }}
          </span>
        </div>
        {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories" . }}{{ end }}
        {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags" . }}{{ end }}
      </div>
    </header>

    <div>
      {{ .Content }}
    </div>

    <footer>
      {{ partial "posts/disqus" . }}
    </footer>
  </article>

{{ partial "posts/math" . }}
</section>
