{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container">
    <h1 class="title">{{ .Title }}</h1>

    {{- range .Paginator.Pages -}}
      {{- .Render "content" -}}
    {{- end -}}

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
