<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  {{ range (.Paginator 5).Pages }}
  <article>
    <header>
      <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      <h2 class="date">{{ .Date.Format "January 2, 2006" }}</h2>
    </header>

    {{ .Content }}
  </article>
  {{ end }}

  {{ partial "pagination.html" . }}
</section>
